.table-responsive {
    max-width: 90%; /* Adjust this value to control the maximum width */
    margin: 20px 0 auto; /* Center the table horizontally */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}
.icon-wrapper {
    display: inline-block; /* Display the icons side by side */
    margin-right: 10px; /* Adjust the margin to control the spacing */
}
  